@use '../custom' as *;

h6 {
    color: #193d6b;
    @include media-breakpoint-down(sm) {
      font-size: 0.675rem !important;
    }
    @include media-breakpoint-up(sm) {
      font-size: 0.675rem !important;
    }
    @include media-breakpoint-up(md) {
      font-size: 0.775rem !important;
    }
    @include media-breakpoint-up(lg) {
      font-size: 0.875rem !important;
    }
  }