@use "../custom" as *;
.feature div {
  display: flex;
  justify-content: center;
  align-items: center;
  h3,
  i {
    color: $gray-800;
    em {
      color: $info;
      font-style: normal;
    }
    @include media-breakpoint-down(sm) {
      font-size: 0.9rem;

    }
    @include media-breakpoint-up(sm) {
      font-size: 0.9rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 0.9rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 1.2rem;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 1.5rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .feature {
    height: 30px !important;
  }
}
