// scss-docs-start theme-color-variables
$primary: #fff;
$secondary: #DB2C2C;
$info: #0060B7;
$dark: #cc2a2a;
$light: rgb(255, 61, 61);
// scss-docs-end theme-color-variables

$input-placeholder-color: gray;
// IMPORT BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
