// scss-docs-start theme-color-variables
$primary: #fff;
$secondary: #DB2C2C;
$info: #005FB7;
$dark: #b32727;
$light: rgb(255, 82, 82);
// scss-docs-end theme-color-variables

$input-placeholder-color: gray;
// IMPORT BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
