<!DOCTYPE html>
{% macro description(category) %}
  {% if category == 'dog' %}
  <h1>Dog</h1>
  <h5>The Best Products for Dogs</h5>
  <p>
    Dogs are among the favorite pets of Brazilians and have been accompanying humans for
    generations. Over thousands of years of domestication, various breeds of dogs have
    been created. Throughout time, they have been used for services such as hunting,
    transportation, security, herding, and, of course, companionship!
  </p>
  <div id="dog-description" class="collapse">
    <h5>A Dog's Life</h5>
    <p>
      Although the main function of dogs today is companionship, these loyal friends still
      perform very noble tasks. With the right training, a dog can be a police dog, a
      guide dog to provide more independence for visually impaired individuals, or perform
      other functions such as alerting cases of allergies, seizures, and diabetes, saving
      lives! Despite the important roles that dogs play, the payment should always be in
      the form of affection, with toys and treats.
    </p>
    <h5>Feeding and Treats</h5>
    <p>
      PetPalz offers a wide variety of biscuits, chewy treats, bones for dogs, and other
      snacks. Treats are great for pleasing the animal and rewarding good behavior. The
      basis of a dog's diet is dry food, found at PetPalz for various breeds, sizes, and
      ages. You can also find complementary diets (commonly known as medicinal diets) and
      wet food. Dogs with vitamin deficiencies or special needs, such as athletes and
      seniors, require supplementation. Consult a veterinarian and feed your dog with care
      and quality. Take advantage of Pet Palz's low prices.
    </p>
    <h5>Welcoming the Dog</h5>
    <p>
      Regardless of age and breed, a dog needs an adapted home to live well. Pet Palz
      offers all the necessary safety and well-being products for your dog to live longer
      and better. For sleeping and resting during the day, it's important to have a dog
      bed or doghouse, as well as a blanket and clothes for colder days. For feeding, you
      will need a food bowl and water bowl. Don't forget about fun! Toys, plushies, and
      balls entertain and amuse the animal, keeping them away from furniture and other
      household items. Invest in dog fences and gates to make your home safer, and in a
      leash with an identification tag and a leash for safe walks.
    </p>
    <h5>Stages of a Dog's Life</h5>
    <p>
      Dogs have different needs throughout their lives. In terms of nutrition, puppies
      need nutritious food to grow strong, while seniors need reinforcement for their
      bones and muscles. Toys and activities also change. Dogs up to one year old are more
      likely to chew on furniture and household items, requiring education and specific
      articles. Adults are calmer and need plenty of walks and toys to keep them
      entertained and continue learning. With seniors, the pace may slow down, and objects
      such as stairs to climb onto the bed will be convenient.
    </p>
    <h5>Dog Care</h5>
    <p>
      In addition to the correct environment and nutrition, dogs also need to stay up to
      date with vaccines, deworming, and flea and tick prevention. In addition to flea and
      tick pipettes and collars from various brands of dewormers, at Pet Palz, you can
      find allopathic medications such as antibiotics and ointments for dermatitis, as
      well as homeopathic remedies from the best brands to keep your dog healthy at all
      times.
    </p>
    <h5>Your Dog's Hygiene</h5>
    <p>
      In addition to keeping your dog up to date with vaccines, deworming, and flea and
      tick prevention, hygiene is another essential care. Condition your pet to use the
      doggy pee pads, reducing unpleasant odors and ensuring a clean home. Don't forget
      about bathing your dog with species-specific soap, shampoo, and conditioner, as well
      as items such as perfume and moisturizer. Regularly brushing your dog also ensures
      the removal of loose hair and better overall health for the animal.
    </p>
  </div>
  <a
    class="text-info link-underline-info link-underline-opacity-0 link-underline-opacity-100-hover"
    id="toggle-button"
    data-bs-toggle="collapse"
    href="#dog-description"
    role="button"
    aria-expanded="false"
    aria-controls="dog-description"
  >
    View more
  </a>
  {% endif %} {% if category == 'cat' %}
  <h1>Cat</h1>
  <h5>The Best Products for Cats</h5>
  <p>
    Cats are one of the most sought-after pets for companionship. Independent by nature,
    these animals carry strong feline instincts, such as hunting, which is often reflected
    in their playtime. However, these lovely animals require care to live longer and have
    a better quality of life. At PetPalz, you can find food, medications, toys, and all
    the essentials for your cat!
  </p>
  <div id="cat-description" class="collapse">
    <h5>Cat Food</h5>
    <p>
      Your cat's health is directly linked to the quality of their diet. PetPalz offers
      the best brands of dry and wet cat food to ensure complete nutrition. Dry food is
      the foundation of domestic cat nutrition due to its balanced composition and
      practicality. Choose the right cat food based on their age and specific needs, such
      as additional nutrient support. Wet food is a great complement as it not only
      provides nutrition but also helps hydrate your cat. Urinary problems are not
      uncommon in felines, and increasing fluid intake through food is an excellent way to
      prevent diseases.
    </p>
    <h5>Water and Cat Health</h5>
    <p>
      In addition to cat food, PetPalz also offers food bowls and water bowls for your
      cat. To encourage water consumption, PetPalz provides various options for Cat
      Fountains and automatic water dispensers. Besides water, certain supplements may be
      necessary to keep your cat in good health. Vaccines, dewormers, and flea and tick
      prevention are important medications to maintain your cat's well-being. At PetPalz,
      you can find not only allopathic medications like dewormers for cats and
      antibiotics, but also homeopathic options at great prices. And always remember to
      consult your veterinarian!
    </p>
    <h5>Environmental Enrichment</h5>
    <p>
      Environmental enrichment is crucial to keep your cat's living space productive and
      stimulating. In addition to food and water bowls and a bed or house, cats need other
      items to live a longer and happier life. A cat scratching post is an essential item
      to prevent the animal from damaging your furniture and personal belongings, while
      also providing a way for them to sharpen their claws and exercise. Free shelves,
      tall furniture, and hiding spots also please and relax felines.
    </p>
    <h5>Playing like Cat and Mouse</h5>
    <p>
      Cats are playful creatures, enjoying interaction with humans as well as playing
      alone or with other animals. Investing in cat toys is a great way to build a healthy
      relationship and keep your pet happy. Toy mice are among their favorite pastimes,
      but you can choose from various options such as balls, wands, and modern interactive
      games.
    </p>
    <h5>Cat Hygiene</h5>
    <p>
      Cats are highly valued for their cleanliness. Instinctively, these felines use
      litter boxes for their needs. In the wild, using areas with higher absorption keeps
      the animal safer by reducing their scent and avoiding the approach of larger animals
      and other cats. In your home, the use of litter boxes ensures a cleaner environment.
      However, certain hygiene measures are necessary, such as regularly changing the
      litter and having one litter box per cat in the
    </p>
  </div>
  <a
    class="p-1 text-info link-underline-info link-underline-opacity-0 link-underline-opacity-100-hover"
    id="toggle-button"
    data-bs-toggle="collapse"
    href="#cat-description"
    role="button"
    aria-expanded="false"
    aria-controls="dog-description"
  >
    View more
  </a>
  {% endif %}
{% endmacro %}
