<!DOCTYPE html>
{% extends 'layout.html' %} {% block main_content %}
<!-- ///////////////////////////////////////////////////// -->
<!-- ///////////////// TAKE 5 PAY 4 SECTION ///////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div
  class="container-fluid takepay pt-2 text-center"
  style="color: #1966ad; background-color: #d4d4d46b"
>
  <h4 class="mt-5 fw-bold">The best online pet shop!</h4>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- ///////////////// RESPONSIVE BANNER ///////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div class="container-fluid">
  <div
    id="carousel1Autoplaying"
    class="carousel banner carousel-dark slide rounded-pill mb-5 shadow-lg"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner1.jpg"
            class="d-md-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner2.jpg"
            class="d-md-none d-sm-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner3.jpg"
            class="d-sm-none d-block w-100"
            alt="Responsive Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner1.jpg"
            class="d-md-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner2.jpg"
            class="d-md-none d-sm-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner3.jpg"
            class="d-sm-none d-block w-100"
            alt="Responsive Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner1.jpg"
            class="d-md-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner2.jpg"
            class="d-md-none d-sm-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner3.jpg"
            class="d-sm-none d-block w-100"
            alt="Responsive Banner"
          />
        </a>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel1Autoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel1Autoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- ///////////////////// FEATURES ////////////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div class="container-fluid justify-content-center">
  <div
    class="row justify-content-center align-items-center gap-md-5 column-gap-4 row-gap-2 m-sm-1"
  >
    <div class="col-md-auto col-5 px-auto py-md-1 py-3">
      <div class="feature row">
        <div class="col-4 p-0">
          <i class="fa-solid fa-truck-fast"></i>
        </div>
        <div class="col-8 p-0 justify-content-start">
          <h3 class="mb-1 p-md-0 pe-1"><em>Free</em> shipping</h3>
        </div>
      </div>
    </div>
    <div class="col-md-auto col-5 px-auto py-md-1 py-3">
      <div class="feature row">
        <div class="col-4 p-0">
          <i class="fa-solid fa-hand-holding-heart"></i>
        </div>
        <div class="col-8 p-0 justify-content-start">
          <h3 class="mb-1 p-md-0 pe-1">Better for your <em>pet</em></h3>
        </div>
      </div>
    </div>
    <div class="col-md-auto col-5 px-auto py-md-1 py-3">
      <div class="feature row">
        <div class="col-4 p-0">
          <i class="fa-solid fa-business-time"></i>
        </div>
        <div class="col-8 p-0 justify-content-start">
          <h3 class="mb-1 p-md-0 pe-1"><em>Fastest</em> delivery</h3>
        </div>
      </div>
    </div>
    <div class="col-md-auto col-5 px-auto py-md-1 py-3">
      <div class="feature row">
        <div class="col-4 p-0">
          <i class="fa-solid fa-ranking-star"></i>
        </div>
        <div class="col-8 p-0 justify-content-start">
          <h3 class="mb-1 p-md-0 pe-1">The <em>best</em> offers</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- /////////////////// PRODUCTS //////////////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div class="container-md container-fluid my-5">
  <div class="row ms-1 text-primary text-start">
    <h3 class="col-10 fw-bold p-1 text-black">Best sellers</h3>
    <button
      class="col-1 btn"
      type="button"
      data-bs-target="#carousel2Autoplaying"
      data-bs-slide="prev"
    >
      <i class="fa-solid fa-circle-arrow-left fs-1 text-info"></i>
    </button>
    <button
      class="col-1 btn"
      type="button"
      data-bs-target="#carousel2Autoplaying"
      data-bs-slide="next"
    >
      <i class="fa-solid fa-circle-arrow-right fs-1 text-info"></i>
    </button>
  </div>
  <div
    id="carousel2Autoplaying"
    class="carousel carousel-dark slide mb-5 mt-2"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row justify-content-between">
          <div class="col-md-2 col-4 p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/DogFood1.jpg"
                  alt="Product"
                />
                <h3>
                  Royal Canin Breed Health Nutrition Labrador Retriever Adult Dry Dog
                  Food, 30 lbs. Bag
                </h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $78,99 </span>
                    <span class="original-price"> $98,99 </span>
                  </div>
                  <span class="times-price">or 6 times of $20,00</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 col-4 p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/DogFood2.jpg"
                  alt="Product"
                />
                <h3>Purina ONE Dry Dog Food Lamb and Rice Formula - 16.5 lb. Bag</h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $32,50 </span>
                    <span class="original-price"> $55,00 </span>
                  </div>
                  <span class="times-price">or 2 times of $22,80</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 col-4 p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/DogFood3.jpg"
                  alt="Product"
                />
                <h3>Purina Moist & Meaty Wet Dog Food, Chopped Burger - 36 ct. Pouch</h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $20,48 </span>
                    <span class="original-price"> $28,78 </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 d-md-block d-none p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/CatFood1.jpg"
                  alt="Product"
                />
                <h3>
                  Purina Fancy Feast Grilled Wet Cat Food Seafood Collection in Wet Cat
                  Food Variety Pack - (24) 3 oz. Cans
                </h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $24,50 </span>
                    <span class="original-price"> $30,00 </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 d-md-block d-none p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/CatFood2.jpg"
                  alt="Product"
                />
                <h3>
                  Purina Friskies Gravy Wet Cat Food Variety Pack, Poultry Shreds, Meaty
                  Bits & Prime Filets - (32) 5.5 oz. Cans
                </h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $27.58 </span>
                    <span class="original-price"> $33,48 </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row justify-content-between">
          <div class="col-md-2 col-4 p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/DogFood1.jpg"
                  alt="Product"
                />
                <h3>
                  Royal Canin Breed Health Nutrition Labrador Retriever Adult Dry Dog
                  Food, 30 lbs. Bag
                </h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $78,99 </span>
                    <span class="original-price"> $98,99 </span>
                  </div>
                  <span class="times-price">or 6 times of $20,00</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 col-4 p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/DogFood2.jpg"
                  alt="Product"
                />
                <h3>Purina ONE Dry Dog Food Lamb and Rice Formula - 16.5 lb. Bag</h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $32,50 </span>
                    <span class="original-price"> $55,00 </span>
                  </div>
                  <span class="times-price">or 2 times of $22,80</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 col-4 p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/DogFood3.jpg"
                  alt="Product"
                />
                <h3>Purina Moist & Meaty Wet Dog Food, Chopped Burger - 36 ct. Pouch</h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $20,48 </span>
                    <span class="original-price"> $28,78 </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 d-md-block d-none p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/CatFood1.jpg"
                  alt="Product"
                />
                <h3>
                  Purina Fancy Feast Grilled Wet Cat Food Seafood Collection in Wet Cat
                  Food Variety Pack - (24) 3 oz. Cans
                </h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $24,50 </span>
                    <span class="original-price"> $30,00 </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 d-md-block d-none p-3">
            <a class="text-decoration-none" href="#">
              <div class="product-card card border-0">
                <img
                  class="px-1 pb-4"
                  src="../static/img/products/CatFood2.jpg"
                  alt="Product"
                />
                <h3>
                  Purina Friskies Gravy Wet Cat Food Variety Pack, Poultry Shreds, Meaty
                  Bits & Prime Filets - (32) 5.5 oz. Cans
                </h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> $27.58 </span>
                    <span class="original-price"> $33,48 </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- ///////////////// TOP BRANDS //////////////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div class="container-md container-fluid my-5">
  <div class="row ms-1 text-primary text-start">
    <h3 class="col-10 fw-bold p-1 text-black">Top Brands</h3>
  </div>
  <div class="row">
    <div class="col-md-2 col-4 p-3">
      <div class="card border-0">
        <img class="" src="../static/img/brands/RoyalCaninBrand.png" alt="Brand" />
      </div>
    </div>
    <div class="col-md-2 col-4 p-3">
      <div class="card border-0">
        <img class="" src="../static/img/brands/NutroBrand.jpg" alt="Brand" />
      </div>
    </div>
    <div class="col-md-2 col-4 p-3">
      <div class="card border-0">
        <img class="" src="../static/img/brands/PurinaBrand.png" alt="Brand" />
      </div>
    </div>
    <div class="col-md-2 col-4 p-3">
      <div class="card border-0">
        <img class="mt-4" src="../static/img/brands/HillsBrand.jpg" alt="Brand" />
      </div>
    </div>
    <div class="col-md-2 col-4 p-3">
      <div class="card border-0">
        <img class="mt-4" src="../static/img/brands/IAMSBrand.jpg" alt="Brand" />
      </div>
    </div>
    <div class="col-md-2 col-4 p-3">
      <div class="card p-3 border-0">
        <img class="" src="../static/img/brands/BlueBrand.png" alt="Brand" />
      </div>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- //////////////// CAT FAVORITES ////////////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div class="container-md container-fluid my-5">
  <div class="row ms-1 text-primary text-start">
    <h3 class="col-10 fw-bold p-1 text-black">Cat Favorites</h3>
  </div>
  <div class="row">
    <div class="col-md-3 col-6 text-center">
      <a class="text-center border btn" href="#">
      <img
        class="img-fluid"
        src="../static/img/favorites/CatFood.jpg"
        alt="CatFood"
      />
      <h6 class="text-center">Cat Food</h6>
      </a>
    </div>
    <div class="col-md-3 col-6 text-center">
      <a class="text-center border btn" href="#">
      <img
        class="img-fluid"
        src="../static/img/favorites/CatToys.jpg"
        alt="CatToys"
      />
      <h6 class="text-center">Cat Toys</h6>
      </a>
    </div>
    <div class="col-md-3 col-6 text-center">
      <a class="text-center border btn" href="#">
      <img
        class="img-fluid"
        src="../static/img/favorites/CatCleaning.jpeg"
        alt="CatCleaning"
      />
      <h6 class="text-center">Cleaning</h6>
      </a>
    </div>
    <div class="col-md-3 col-6 text-center">
      <a class="text-center border btn" href="#">
        <img
          class="img-fluid"
          src="../static/img/favorites/CatAccessories.png"
          alt="CatAccessories"
        />
        <h6 class="text-center">Accessories</h6>
      </a>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- //////////////// DOG FAVORITES ////////////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div class="container-md container-fluid my-5">
  <div class="row ms-1 text-primary text-start">
    <h3 class="col-10 fw-bold p-1 text-black">Dog Favorites</h3>
  </div>
  <div class="row">
    <div class="col-md-3 col-6 text-center">
      <a class="text-center border btn" href="#">
      <img
        class="img-fluid"
        src="../static/img/favorites/DogFood.jpg"
        alt="DogFood"
      />
      <h6 class="text-center">Dog Food</h6>
      </a>
    </div>
    <div class="col-md-3 col-6 text-center">
      <a class="text-center border btn" href="#">
      <img
        class="img-fluid"
        src="../static/img/favorites/DogToys.jpg"
        alt="DogToys"
      />
      <h6 class="text-center">Dog Toys</h6>
      </a>
    </div>
    <div class="col-md-3 col-6 text-center">
      <a class="text-center border btn" href="#">
      <img
        class="img-fluid"
        src="../static/img/favorites/DogCleaning.jpg"
        alt="DogCleaning"
      />
      <h6 class="text-center">Cleaning</h6>
      </a>
    </div>
    <div class="col-md-3 col-6 text-center">
      <a class="text-center border btn" href="#">
      <img
        class="img-fluid"
        src="../static/img/favorites/DogAccessories.jpg"
        alt="DogAccessories"
      />
      <h6 class="text-center">Accessories</h6>
      </a>
    </div>
  </div>
</div>
{% endblock main_content %}
