<!DOCTYPE html>
{% extends 'layout.html' %} {% block main_content %}
<!-- ///////////////////////////////////////////////////// -->
<!-- ///////////////// RESPONSIVE BANNER ///////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div class="container-xxl container-fluid">
  <div
    id="carouselExampleAutoplaying"
    class="carousel carousel-dark slide mb-5"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner1.jpg"
            class="d-md-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner2.jpg"
            class="d-md-none d-sm-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner3.jpg"
            class="d-sm-none d-block w-100"
            alt="Responsive Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner1.jpg"
            class="d-md-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner2.jpg"
            class="d-md-none d-sm-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner3.jpg"
            class="d-sm-none d-block w-100"
            alt="Responsive Banner"
          />
        </a>
      </div>
      <div class="carousel-item">
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner1.jpg"
            class="d-md-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner2.jpg"
            class="d-md-none d-sm-block d-none w-100"
            alt="Responsive Banner"
          />
        </a>
        <a href="{{ url_for('pages.home') }}">
          <img
            src="../static/img/banner3.jpg"
            class="d-sm-none d-block w-100"
            alt="Responsive Banner"
          />
        </a>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- ///////////////////// FEATURES ////////////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<div class="container-md container-fluid justify-content-center">
  <div class="row gap-5 justify-content-md-between justify-content-center m-sm-1">
    <div class="col-md-2 col-4">
      <div class="feature row gx-lg-0 gx-md-1 gx-sm-4">
        <div class="col-4">
          <i class="fa-solid fa-truck-fast"></i>
        </div>
        <div class="col-8">
          <h3><em>Free</em> shipping</h3>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-4">
      <div class="feature row gx-lg-0 gx-md-1 gx-sm-4">
        <div class="col-4">
          <i class="fa-solid fa-hand-holding-heart"></i>
        </div>
        <div class="col-8">
          <h3>Better for your <em>pet</em></h3>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-4">
      <div class="feature row gx-lg-0 gx-md-1 gx-sm-4">
        <div class="col-4">
          <i class="fa-solid fa-business-time"></i>
        </div>
        <div class="col-8">
          <h3><em>Fastest</em> delivery</h3>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-4">
      <div class="feature row gx-lg-0 gx-md-1 gx-sm-4">
        <div class="col-4">
          <i class="fa-solid fa-ranking-star"></i>
        </div>
        <div class="col-8">
          <h3>The <em>best</em> offers</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
