<!DOCTYPE html>
{% from 'macros/navbar.html' import navbar %} {% from 'macros/footer.html' import footer
%}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default('PetPalz - Home') }}</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/vendors/css/fontawesome.min.css" />
    <link rel="stylesheet" href="static/vendors/css/all.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--//////////// NAVBAR START  ////////////-->
    {% block header %} {{ navbar(session.get(email), session.get(language)) }} {% endblock
    header %}
    <!--//////////// NAVBAR END  ////////////-->
    <main>{% block main_content %} {% endblock main_content %}</main>

    <!-- ////// FOOTER START ////// -->
    <footer class="p-5 bg-secondary">
      {% block footer %} {{ footer() }} {% endblock footer %}
    </footer>

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
