<!DOCTYPE html>
{% from 'macros/descriptions.html' import description %} {% extends 'layout.html' %} {%
block main_content %}
<div class="custom-container" style="padding-top: 144px">
  <div class="row pets-row justify-content-between">
    <nav class="col-6 pt-1 pb-1" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Pet Shop</a>
        </li>
        {% if category and not subcategory %}
        <li class="breadcrumb-item active" aria-current="page">
          {{ category | capitalize }}
        </li>
        {% else %}
        <li class="breadcrumb-item">
          <a href="/{{ category }}">{{ category | capitalize }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ "Apparel & " + subcategory | capitalize if subcategory == 'accessories' else
          subcategory | capitalize }}
        </li>
        {% endif %}
      </ol>
    </nav>
    <div class="col-6 text-end align-items-center">
      <div class="dropdown sort-dropdown">
        <button
          class="sort-btn btn py-2 px-sm-5 px-4 dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Sort By
        </button>
        <ul class="dropdown-menu sort-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item btn px-4 py-2" onclick="submitForm('1')"
              >Price: Low to High</a
            >
          </li>
          <li>
            <a class="dropdown-item btn px-4 py-2" onclick="submitForm('-1')"
              >Price: High to Low</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-2 d-md-inline d-none filter-column">
      <h1>Filter products</h1>
      <a href="/{{ category }}{% if subcategory %}/{{ subcategory }}{% endif %}">
        Clear filters<i class="fa-regular fa-trash-can ms-1"></i>
      </a>
      <div class="categories">
        <a class="category" href="/{{ category }}">
          <h1>{{ category | capitalize }}</h1>
        </a>
        {% if category == 'dog' %}
        <div class="row">
          <a href="/dog/food">Dog Food</a>
          <a href="/dog/accessories">Apparel & Accessories</a>
          <a href="">Dog Toys</a>
          <a href="">Cleaning & Beauty</a>
          <a href="">Medicines</a>
          <a href="">Dog Houses</a>
        </div>
        {% endif %}{% if category == 'cat' %}
        <div class="row">
          <a href="/cat/food">Cat Food</a>
          <a href="/cat/accessories">Apparel & Accessories</a>
          <a href="">Cat Toys</a>
          <a href="">Cleaning & Beauty</a>
          <a href="">Medicines</a>
          <a href="">Hygiene & Sandboxes</a>
          <a href="">Cat Beds & Scratchers</a>
        </div>
        {% endif %}
      </div>
      <form
        id="filter-form"
        class="filter-form"
        method="POST"
        action="/{{ category }}{% if subcategory %}/{{ subcategory }}{% endif %}"
      >
        {% for section in categories %}
        <label class="filter-label">{{ section | capitalize }}</label>
        <div class="form-group">
          {% for categor in categories[section] %}
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="category-{{ section }}-{{ loop.index }}"
              name="category-{{ section }}"
              value="{{ categor }}"
              {%
              if
              categor
              in
              selected_categories
              %}checked{%
              endif
              %}
            />
            <label
              class="form-check-label category-label"
              for="category-{{ section }}-{{ loop.index }}"
            >
              {{ "Kitten" if categor == "Puppy" and category == "cat" else categor }}
            </label>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </form>
    </div>

    <div class="col-md-10">
      <div class="category-description justify-content-start">
        {{ description(category) }}
      </div>
        {% if products %}
        <div class="row justify-content-start p-md-4 p-sm-3 p-4">
          {% for product in products %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <a
              class="text-decoration-none"
              href="{{ url_for('pages.product', p=product.title)}}"
            >
              <div class="product-card card border-0 m-4">
                <img
                  class="px-1 pb-4"
                  src="/static/img/products/{{ product.img }}.jpg"
                  alt="Product"
                />
                <h3>{{ product.title }}</h3>
                <div class="price-holder">
                  <div class="display-price">
                    <span class="price"> ${{ product.prices[0] }} </span>
                    <span class="original-price">
                      {{ '$' if product.prices[1] }}{{product.prices[1] }}
                    </span>
                  </div>
                  <span class="times-price"> {{ product.prices[2] }} </span>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <h2 class="mt-3 no-results">No results.</h2>
        {% endif %}
    </div>
  </div>
</div>
{% endblock main_content %}
